<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <h1><%= blogPost.title %></h1>
    <p><%= blogPost.date %></p>
    <p><%= blogPost.body %></p>
  </body>
</html>
