<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <ul>
        <% books.forEach(function(book) { %>
            <li>
                <h2><%= book.title %></h2>
                <p>Author: <%= book.author %></p>
                <p>Publication Date: <%= book.publicationDate.toDateString() %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>