<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    <% for (let i = 0; i < blogPosts.length; i++) { %>
      <li><a href="<%=blogPosts[i].id%>"><%= blogPosts[i].title %></a></li>
    <% } %>
    </div>
  </body>
</html>
